* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  padding: 20px 20px;
}

.main-header .logo {
  margin-left: 100px;
  color: #fff;
  font-family: sans-serif;
}

.main-header .login-form {
  display: flex;
  align-items: center;
}

.main-header .login-form .form-input {
  display: flex;
  position: relative;
  padding: 5px 10px;
}

.main-header .login-form .form-input label {
  position: absolute;
  bottom: 100%;
  color: #fff;
}
.main-header .login-form .form-input .forgot {
  position: absolute;
  justify-self: start;
  top: 30px;
  color: #9daccb;
  text-decoration: none;
  font-size: 13px;
}

.main-header .login-form .btn-login {
  background-color: #4d55bc;
  color: #fff;
  cursor: pointer;
  padding: 5px 18px;
  border: none;
}

.main-header .login-form .form-input input {
  padding: 2px 0px;
  outline: none;
}
