.content {
  display: flex;
  padding: 100px 50px;
  font-family: sans-serif;
}

.content .peta,
.content .form-register {
  width: 50%;
}

.content .peta p {
  font-size: 17px;
  margin-bottom: 50px;
}

.content .form-register {
  padding-left: 50px;
}

.content .form-register h3 {
  font-weight: bold;
}

.content .form-register p {
  font-size: 12px;
  padding-top: 10px;
}

.content .form-register form {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.content .form-register form .inline-form {
  padding: 10px 0px;
}

.content .form-register form .inline-form input {
  padding: 10px 5px;
  margin-right: 7px;
  font-size: 17px;
}

.content .form-register form .inline-form select {
  width: 150px;
  padding: 7px 5px;
  font-size: 17px;
  margin-right: 10px;
}
